body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #00204e, #000c24);
    color: white;
    font-family: Arial, sans-serif;
  }

  .header {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .logo {
    width: 100%; /* Make the logo take up the full width */
    max-width: 600px; /* Set a maximum width for the logo */
    height: auto; /* Maintain the aspect ratio */
    margin: 40px;
  }

  .scoreboard {
    width: 100%;
    max-width: 1520px;
    text-align: left;
  }

  
  /* Different colors for sub-scores */
  .subscore1 { background-color: #3498db; }
  .subscore2 { background-color: #e74c3c; }
  .subscore3 { background-color: #2ecc71; }

  .participant {
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .participant-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .participant-name {
    font-weight: bold;
    margin-right: 10px;
    font-size: 2.7em;
    margin-left: 0;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
  }

  .histogram {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .bar-container {
    flex-grow: 1;
    margin-left: 0;
    position: relative;
  }

  .bar {
    height: 30px;
    position: relative;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 1.5em;
  }

  .total-score {
  font-weight: bold;
  position: absolute;
  left: 100%;
  transform: translateX(5px); /* Adjust spacing */
  top: 20%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 600px) {
    .logo {
      margin: 20px; /* Adjust margin for smaller screens */
      max-width: 80%; /* Set a maximum width for the logo on mobile screens */
    }
  
    .participant-info {
      flex-wrap: wrap; /* Allow participant info to wrap on smaller screens */
    }
  
    .bar-container {
      flex-grow: 1;
      margin-left: 0;
      position: relative;
      display: flex; /* Add display flex to align items */
      align-items: flex-start; /* Align items at the top */
    }
  
    .bar {
      height: 20px; /* Decrease bar height for smaller screens */
      width: 50px; /* Fixed width for the bars */
      position: relative;
    }
  
    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      font-size: 1em;
    }
  
    .total-score {
      left: 100%;
      transform: translateX(5px);
      top: 20%; /* Center vertically on smaller screens */
      transform: translateY(-50%);
    }
  
    .participant-name {
      font-weight: bold;
      margin-right: 10px;
      font-size: 1.5em; /* Decrease font size for smaller screens */
      margin-left: 0;
      width: 80px; /* Adjust width based on the maximum name length */
      overflow: hidden;
      white-space: nowrap;
    }
  }
  